<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="yiyuan.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="yiyuan.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/gray/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/viewer.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/main.css"/>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <script type="text/javascript" src="../../js/viewer.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../js/h5upload-1.0.1.js"></script>
    <script type="text/javascript" src="./js/index.js"></script>

</head>
<script type="text/javascript">
$(function(){

});
</script>
<body>
<div class="upload-content">
    <div class="content-img">
        <ul class="content-img-list" id="showViewer1">
            <!-- <li class="content-img-list-item"><img src="https://www.baidu.com/img/bd_logo1.png" alt=""><a class="delete-btn"><i class="ico-delete"></i></a></li> -->
        </ul>
        <div class="file">
            <i class="ico-plus"></i>上传图片，支持jpg/png<input type="file" name="file" accept="image/*" id="upload" >
        </div>
    </div>
    <div class="upload-tips">
        最多上传4张图片，单张1M
    </div>
</div>

</body>

</html>