<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/gray/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../js/jquery-easyui/themes/icon.css"/>
    <script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../js/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript" src="../../js/cip-page1.0.js"></script>
    <script type="text/javascript">
        $(function(){
            let serial_no = $$.QueryString("serial_no");

                $.ajax({
                    url: "/test/getPrint.do",
                    type: 'post',
                    data : {serial_no: serial_no},
                    success: function (data) {
                        let returnData=data.data;
                        $("#contact_div").html(returnData.content_html);

                        let formObj=JSON.parse(returnData.content_value);
                        $("#form_crmx_data").form("load",formObj);

                    }
                });

        });
    </script>
</head>
<body>
<form id="form_crmx_data" class="form">
<div style="height: 95vh; overflow: auto; border: 1px solid #ccc; " id="contact_div">

</div>
</form>

</body>
</html>

