<!DOCTYPE html>
<html lang="zh-CN">
<head>

</head>
<body>
test
    <form id="oaform" action="" method="post">
        
        
        <input type="hidden" name="logintype" value="1"/>
        <input type="hidden" name="fontName" value="微软雅黑"/>
        <input type="hidden" name="formmethod" value="post"/>
        <input type="hidden" name="isie" value="false"/>
        <input type="hidden" name="dongyu" value="1753E4607B54BA3D455A1FC2F172E64A">
        <input type="hidden" name="islanguid" value="7"/>
        <input type="hidden" name="loginid" value="T1113"/>
        <input type="hidden" name="userpassword" value="test"/>
        <input type="hidden" name="submit" value="登录"/>
        <input type="submit" style="display:none"/>
    </form>
</body>
<!-- jQuery 2.2.3 -->
<script src="../../js/jquery-2.1.1.min.js"></script>
<script language="JavaScript">
    $("#oaform").attr("action", "http://oa.uat.tuolong56.com/login/VerifyLogin.jsp")
    $("input[type='submit']").trigger("click");

</script>
</html>